$blue100: #1c4df5;
$blue200: #003399;
$blue300: #16359f;
$blue700: #1a1a40;
$blue600: #2c2c66;
$black: #000;
$black100: #1c1a1a;
$green: #198754;
$grey100: #efefef;
$grey200: #ebe9e9;
$grey300: #d6d6d6;
$grey400: #ced4da;
$grey500: #f7f5ed;
$grey700: #888888;
$purple: rgb(55, 10, 138);
$purple100: #7a0bc0;
$purple200: #650c9d;
$red: #ff0d00;
$white: #ffffff;
$white100: #f5f5f5;
$yellow: #ffcc00;
