.url-history-entry-ctr {
  text-align: left;
  > div {
    text-align: left;
    display: flex;
    .alias-header {
      font-weight: bold;
      font-size: 0.95em;
    }
    .original-url-subheader {
      font-size: 0.775em;
    }

    .alias-header,
    .original-url-subheader {
      word-break: break-word;
    }
  }
}
